{% extends 'main/master_page_in.html' %}

{% load staticfiles %}

{% block content %}

<audio id="soundHandle_correct" style="display: none;">
    <source src='/static/main/audio/correct_sound.mp3'>
</audio>

<audio id="soundHandle_incorrect" style="display: none;">
    <source src='/static/main/audio/incorrect_sound.mp3'>
</audio>

<audio id="soundHandle_success" style="display: none;">
    <source src='/static/main/audio/success_sound.mp3'>
</audio>

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->


<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header -->
    <header id="header" class="header">
        <div class="container header-inner">

            <!-- Logo -->
            <div class="logo">
                <a href="#" style="font-weight: normal; font-family: 'Lane - Narrow'; font-size: 24px; line-height: 1; letter-spacing: 2px; text-transform: uppercase;">
                    CREATE ASSIGNMENT.
                </a>
            </div>
            <!-- End Logo -->

            <!-- Navbar Navigation -->
            <div class="nav-menu">
                <ul class="nav-menu-inner">
                    <li>
                        <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="csci_logout();">Log out</a>
                    </li>

                    {% if user.is_superuser %}
                        <li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="window.location = '/schedule';">Change Schedule</a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="window.location = '/admin';">Add a new Question</a>
                    </li>

                    <li>
                        <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="window.location = '/questions';">My Questions</a>
                    </li>
                    <li>
                        <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- CONTENT --------------------------------------------------------------------------------->
    <!-- Intro Section -->
    <section id="intro" class="dark-bg">

        <!-- Hero Slider Section -->
        <div >
            <!--Slide-->
            <!-- Content -->
            <div class="container" style="width: 85%; margin: 0 auto;">

                <div class="row">
                    <div >
                        <div class="border-box" style="background-color: white; opacity: .9; border: 1px grey solid; margin-top: 100px; margin-bottom: 50px;">
                            <div id="beginning_of_page">
                                <!--input name="question_id_input" spellcheck="false" style="width: 100%; padding: 10px; font-size: large;" disabled placeholder="Question ID will be automatically generated!" value="{{ curr_question.id }}" /-->
                                <input name="question_id_input" spellcheck="false" style="width: 100%; padding: 10px; font-size: large;"  placeholder="Assignment Title" />
                            </div>


                            <div>
                                <button class="btn-primary" style="text-transform: uppercase; padding: 5px; margin: 5px;" onclick="add_multiple_choice_4(this)">Add Multiple Choice (4)</button>
                                <button class="btn-primary" style="text-transform: uppercase; padding: 5px; margin: 5px;" onclick="add_main_title(this);">Add Main Question Title</button>
                            </div>

                            <div id="update_div" style="margin: 20px;">
                                <button class="btn-primary" style="font-size: larger; padding: 10px;" onclick="update_db();">UPDATE ASSIGNMENT</button>
                            </div>

                            <!-- loop through items in db -->

                            {% for lesson_item in all_items_sent %}
                                <div style="background-color: lightgoldenrodyellow; border: solid 1px lightgrey; padding: 10px; border-radius: 5px; margin: 15px;">
                                    <div style="padding-bottom: 0px; margin-bottom: 0px;">
                                        <span style="color: black; font-size: larger; text-transform: uppercase;">Display at once:</span><input name="question_type_input" spellcheck="false" style="margin-left: 10px; width: 8%; padding: 10px; font-size: large;" placeholder="Answer 1" value="{{ lesson_item.lesson_item_append_at_once }}" />
                                        <span style="margin-left: 20px; text-transform: uppercase; color: black; font-size: larger;">Stop after:</span><input name="question_type_input" spellcheck="false" style="margin-left: 10px; width: 8%; padding: 10px; font-size: large;" placeholder="Answer 1" value="{{ lesson_item.lesson_item_stop_after }}" />
                                        <span style="margin-left: 20px; text-transform: uppercase; color: black; font-size: larger;">Duration:</span><input name="question_type_input" spellcheck="false" style="margin-left: 10px; width: 6%; padding: 10px; font-size: large;" placeholder="Answer 1" value="{{ lesson_item.lesson_item_duration }}" />
                                        <span style="margin-left: 20px; text-transform: uppercase; color: black; font-size: larger;">ID:</span><input name="question_type_input" spellcheck="false" style="margin-left: 10px; width: 6%; padding: 10px; font-size: large;" disabled placeholder="Answer 1" value="{{ lesson_item.id }}" />
                                        <textarea onfocus="expandHeight(this);" onkeydown="expandHeight(this);" rows="10" id="python_code" spellcheck="false" style="border-radius: 10px; margin-bottom: 5px; font-size: larger; width: 100%;" placeholder="Pre-code to be executed goes here..."></textarea>
                                        <textarea onfocus="expandHeight(this);" onkeydown="expandHeight(this);" rows="30" id="python_code" spellcheck="false" style="border-radius: 10px; margin-bottom: 5px; font-size: larger; width: 100%;" placeholder="Pre-code to be executed goes here...">{{ lesson_item.lesson_item_text }}</textarea>
                                    </div>
                                    <div>
                                        <button class="btn-primary" style="border-radius: 5px; font-size: larger; padding: 5px; padding-left: 10px; padding-right: 10px;" onclick="$(this).parent().parent().remove();">Save Changes</button>
                                        <button class="btn-success" style="border-radius: 5px; font-size: larger; padding: 5px; padding-left: 10px; padding-right: 10px;" onclick="$(this).parent().parent().remove();">Delete Above</button>
                                        <button class="btn-success" style="border-radius: 5px; font-size: larger; padding: 5px; padding-left: 10px; padding-right: 10px;" onclick="add_lesson_item_below(this);">Add Below</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->

    <!-- End CONTENT ------------------------------------------------------------------------------>

    <!-- FOOTER -->
    <footer class="footer">

        <!-- Copyright Bar -->
        <section class="copyright ptb-60">
            <div class="container">
                <p class="" style="font-family: 'Lane - Narrow'; font-size: 16px; text-transform: uppercase;">
                    © 2017 <b>Crafted lovingly in Charleston SC</b>. All Rights Reserved.
                    <br />
                    Built  by <b>Ayman Hajja, PhD</b>
                </p>
            </div>
        </section>
        <!-- End Copyright Bar -->

    </footer>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>

<form>{% csrf_token %}</form>

{% endblock %}