{% extends 'main/master_page_in.html' %}

{% load staticfiles %}

{% block content %}

    <audio id="soundHandle_correct" style="display: none;">
        <source src='/static/main/audio/correct_sound.mp3'>
    </audio>

    <audio id="soundHandle_incorrect" style="display: none;">
        <source src='/static/main/audio/incorrect_sound.mp3'>
    </audio>

    <audio id="soundHandle_success" style="display: none;">
        <source src='/static/main/audio/success_sound.mp3'>
    </audio>

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img">
                <a href="#">
                </a>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <a href="#" style="font-weight: normal; font-family: 'Lane - Narrow'; font-size: 24px; line-height: 1; letter-spacing: 2px; text-transform: uppercase;">
                        {{ full_name }}.
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">

                        <!--li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;">Home</a>
                        </li-->

                        <li>
                            <a href="/" style="font-family: 'Lane - Narrow'; font-weight: normal;">Home</a>
                        </li>

                        <li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="csci_logout();">Log out</a>
                        </li>


                        <!--li>
                            <a >About the Professor</a>
                        </li-->

                        <!--li>
                            <a href="login_professor.html">Tentative Schedule</a>
                        </li-->

                        <!--li>
                            <a href="login_professor.html">Login</a>
                        </li-->

                    </ul>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section id="intro" class="dark-bg">

            <!-- Hero Slider Section -->
            <div class="owl-carousel fullwidth-slider white o-flow-hidden">
                <!--Slide-->
                <div class="item bg-img slide-bg-image parallax parallax-section1" data-background-img="{%  static 'main/img/full/startup-photos.jpg' %}">
                    <!-- Content -->
                    <div class="full-cap-wraper overlay-dark80 light-color">
                        <div class="content-caption light-color">
                            <div class="container">
                                <h2 style="font-family: 'Lane - Narrow'; font-weight: normal;">Assignment: {{ assignment_title }}</h2>
                                <br />
                                <h4 style="font-family: 'Lane - Narrow'; font-weight: normal;">Student: {{ student_name }}</h4>
                                <br />
                                <!--div><a class="btn btn-md btn-white-line xs-hidden">Tentative Schedule</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Login</a></div-->
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <!-- End Intro Section -->

        <div class="clearfix"></div>

        <!-- Work Section -->
        <section id="work" class="wow fadeInUp pt pt-sm-80 text-center">
            <div class="container" style="padding-bottom: 30px;">

                <h3 style="font-family: 'Lane - Narrow'; font-weight: normal;">Questions</h3>

                <div id="all_questions_div" style="width: 90%; line-height: 1.4; margin: 0 auto; padding: 15px; font-family: 'Lane - Narrow'; font-size: x-large; text-align: left; border: solid lightgrey 1px; background-color: whitesmoke; margin-bottom: 15px; margin-top: 15px;" >
                    {% for item in all_questions_answers_array %}

                        <div id="question_id_{{ item.question.id }}_{{ item.answer.python_generated_id }}">
                            <div style="{{ item.question.element_style }}">{{ item.question.question_title | safe }}</div>

                            {% if item.answer.element_type == 'input' %}
                                {% if item.answer.existing_value == '' %}
                                    <input disabled id="{{ item.answer.python_generated_id }}" placeholder="{{ item.answer.placeholder }}" style="{{ item.answer.element_style }}"/>
                                {% else %}
                                    <input disabled id="{{ item.answer.python_generated_id }}" value="{{ item.answer.existing_value }}" style="{{ item.answer.element_style }}"/>
                                {% endif %}
                            {% endif %}


                            {% if item.answer.element_type == 'textarea' %}
                                <div contenteditable="true" id="{{ item.answer.python_generated_id }}"
                                     style="{{ item.answer.element_style }} height: auto; background-color: white; border: solid lightgrey 1px; outline: none;">{{ item.answer.existing_value | safe }}</div>
                            {% endif %}

                            {% comment %}
                                {% if item.answer.element_type == 'textarea' %}
                                    <textarea disabled id="{{ item.answer.python_generated_id }}" style="{{ item.answer.element_style }}">{{ item.answer.existing_value }}</textarea>
                                {% endif %}
                            {% endcomment %}

                        </div>

                        <hr style="width: 100%; text-align: center; background-color: darkgrey; height: 1px; margin:10px;"/>

                    {% endfor %}

                    <div id="editor"></div>

                    <div style="text-align: center;">
                        <button class="btn-warning" style="font-size: 20px; padding: 10px; margin: 10px; text-transform: uppercase;" onclick="save_assignment_pdf(true)">Save as PDF</button>

                        <!--button class="btn-primary" style="font-size: 20px; padding: 10px; margin: 10px; text-transform: uppercase;" onclick="save_for_later()">Save Grade</button-->
                        <!--button class="btn-primary" style="font-size: 20px; padding: 10px; margin: 10px; text-transform: uppercase;" onclick="save_for_later()">Save to the Clouds</button-->
                        <!--button class="btn-success" style="font-size: 20px; padding: 10px; margin: 10px; text-transform: uppercase;" onclick="submit_answers()">Submit</button-->
                    </div>
                </div>

            </div>

        </section>
        <!-- End Work Section -->

        <hr />
        <hr />

        <div id="all_questions_pdf" style="font-size: x-large; width: 90%; line-height: 1.4; margin: 0 auto; padding: 10px;">
            <div id="question_inside" style="border: 1px grey solid; padding: 10px;">
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="" style="font-family: 'Lane - Narrow'; font-size: 16px; text-transform: uppercase;">
                        © 2017 <b>Crafted lovingly in Charleston SC</b>. All Rights Reserved.
                        <br />
                        Built  by <b>Ayman Hajja, PhD</b>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
    </div>


    <form>{% csrf_token %}</form>

    <script type="text/javascript">
        full_name = "{{ full_name }}";
        student_name = "{{ student_name }}";
        assignment_num = "{{ assignment_num }}";
        assignment_name = "{{ curr_assignment.assignment_title }}";
        assignment_due_date = "{{ curr_assignment.assignment_due_date_time }}";
    </script>

{% endblock %}