{% extends 'main/master_page_in.html' %}

{% load staticfiles %}

{% block content %}

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->


    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container header-inner">

                <!-- Logo -->
                <div class="logo">
                    <!--a href="http://www.amhajja.com" style="font-weight: normal; font-family: 'Lane - Narrow'; font-size: 24px; line-height: 1; letter-spacing: 2px; text-transform: uppercase;">
                        For <span style="color: indianred;">Students</span>. By <span style="color: green;">Students</span>.
                    </a-->
                    <a href="#" style="font-weight: normal; font-family: 'Lane - Narrow'; font-size: 24px; line-height: 1; letter-spacing: 2px; text-transform: uppercase;">
                        {{ full_name }}. View Questions.
                    </a>
                </div>
                <!-- End Logo -->

                <!-- Navbar Navigation -->
                <div class="nav-menu">
                    <ul class="nav-menu-inner">
                        <li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="csci_logout();">Log out</a>
                        </li>

                        {% if user.is_superuser %}
                            <li>
                                <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="window.location = '/login';">Change Schedule</a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;" onclick="window.location = '../login';">Add a Question</a>
                        </li>
                        <li>
                            <a href="#top" style="font-family: 'Lane - Narrow'; font-weight: normal;">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
        <section id="intro" class="dark-bg">

            <!-- Hero Slider Section -->
            <div >
                <!--Slide-->
                <!-- Content -->
                <div class="container" style="width: 60%; margin: 0 auto;">
                    <div class="row">
                        <div >
                            <div class="border-box" style="background-color: white; opacity: .8; border: 1px grey solid; margin-top: 100px; margin-bottom: 50px;" >
                                <div style="color: black;">
                                    <div style="font-size: 26px; text-align: center; margin-bottom: 30px;">List of questions created by {{ full_name }}:</div>

                                    {% for curr_question in all_questions %}
                                        <div style="padding: 10px; margin: 10px; font-size: 18px; background-color: blanchedalmond; border: 1px grey solid; cursor: pointer;" onclick="window.location = '../admin/{{ curr_question.id }}/';">
                                            {% if my_is_superuser %}
                                                {{ curr_question.subItem_id }}.
                                            {% endif %}
                                            ({{ curr_question.quizType }}. Repeated: {{ curr_question.repeat }}) {{ curr_question.questionText }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->

            </div>
            <!-- End Hero Slider Section -->
        </section>
        <!-- End Intro Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

        <!-- FOOTER -->
        <footer class="footer">

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="" style="font-family: 'Lane - Narrow'; font-size: 16px; text-transform: uppercase;">
                        © 2017 <b>Crafted lovingly in Charleston SC</b>. All Rights Reserved.
                        <br />
                        Built  by <b>Ayman Hajja, PhD</b>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->

    <form>{% csrf_token %}</form>

{% endblock %}
